<div class="welcome">
    <img src="/assets/img/seafood-takeout.jpg" />
    <h2>Post your menus and reach customers today</h2>
    <p>
        FreshBites.com is an online marketplace where students can connect with
        food caterers to purchase home-cooked meals in bulk.
    </p>
    <p>
        Home caterers can upload menus, track customer orders, and accept
        payments from their customers.
    </p>
</div>

<div class="how-to container">
  <h2> Three simple steps to start making money from your kitchen </h2>
  <div class="row">

      <div class="col-xs-6 col-sm-4">
        <div class="icon-wrapper"> <i class="fa fa-laptop fa-4x"></i> </div>
        <p> 1. Post your menus </p>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="icon-wrapper"> <i class="fa fa-credit-card fa-4x"></i> </div>
        <p> 2. User places and pays for order</p>
      </div>

      <!-- Optional: clear the XS cols if their content doesn't match in height -->
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-6 col-sm-4">
        <div class="icon-wrapper"> <i class="fa fa-usd fa-4x"></i> </div>
        <p> 3. You get paid and user enjoys food</p>
      </div>

  </div>
</div>

<br />
<br />

<div class="features-wrapper">
  <div class="features container">
      <h2> Features </h2>
      <div class="row">

          <div class="col-xs-6 col-sm-3">
            <div class="icon-wrapper"> <i class="fa fa-envelope-o fa-4x"></i> </div>
            <p> Directly message users </p>
          </div>

          <div class="col-xs-6 col-sm-3">
            <div class="icon-wrapper"> <i class="fa fa-camera-retro fa-4x"></i> </div>
            <p> Post images to increase interaction </p>
          </div>

          <div class="col-xs-6 col-sm-3">
            <div class="icon-wrapper"> <i class="fa fa-cutlery fa-4x"></i> </div>
            <p> Post multiple menus </p>
          </div>

          <div class="col-xs-6 col-sm-3">
            <div class="icon-wrapper"> <i class="fa fa-line-chart fa-4x"></i> </div>
            <p> View user ratings, reviews and analytics to improve service </p>
          </div>

      </div>
  </div>
</div>
