<div class="welcome">
    <img src="/assets/img/welcome-background.jpg" />
    <h2>Post your menus and reach customers today</h2>
</div>

<div class="intro">
FreshBites.com is an online marketplace where students can connect with food caterers to purchase home-cooked meals in bulk. FreshBites allows home caterers to upload menus, track customer orders, and accept payments from from their customers.
</div>

<br />
<br />
<div class="how-to">
3 steps to using freshbites
<br />
1. post your menus
<br />
2. user places and pays for order
<br />
3. you get paid and user enjoys food
<br />
</div>

<br />
<br />

<div class="features">
directly message users
<br />
post images to increase interaction
<br />
post multiple menus
<br />
post menu ingredients for nutritional info
<br />
view user ratings and reviews to improve service
<br />

</div>