<div class="welcome">
    <img src="/assets/img/seafood-takeout.jpg" />
    <h2>Post your menus and reach customers today</h2>
    <p>
        FreshBites.com is an online marketplace where students can connect with
        food caterers to purchase home-cooked meals in bulk.
    </p>
    <p>
        Home caterers can upload menus, track customer orders, and accept
        payments from their customers.
    </p>
</div>

<div class="how-to container">
  <h2> Three simple steps to start making money from your kitchen </h2>
  <div class="row">

      <div class="col-xs-6 col-sm-4">
        <div class="icon-wrapper"> <i class="fa fa-laptop fa-4x"></i> </div>
        <p> 1. Post your menus </p>
      </div>

      <div class="col-xs-6 col-sm-4">
        <div class="icon-wrapper"> <i class="fa fa-credit-card fa-4x"></i> </div>
        <p> 2. User places and pays for order</p>
      </div>

      <!-- Optional: clear the XS cols if their content doesn't match in height -->
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-6 col-sm-4">
        <div class="icon-wrapper"> <i class="fa fa-usd fa-4x"></i> </div>
        <p> 3. You get paid and user enjoys food</p>
      </div>

  </div>
</div>

<br />
<br />
<!-- 
<div class="features-wrapper">
  <div class="features container">
      <h2> Features </h2>
      <div class="row">

          <div class="col-xs-6 col-sm-3">
            <div class="icon-wrapper"> <i class="fa fa-envelope-o fa-4x"></i> </div>
            <p> Directly message users </p>
          </div>

          <div class="col-xs-6 col-sm-3">
            <div class="icon-wrapper"> <i class="fa fa-camera-retro fa-4x"></i> </div>
            <p> Post images to increase interaction </p>
          </div>

          <div class="col-xs-6 col-sm-3">
            <div class="icon-wrapper"> <i class="fa fa-cutlery fa-4x"></i> </div>
            <p> Post multiple menus </p>
          </div>

          <div class="col-xs-6 col-sm-3">
            <div class="icon-wrapper"> <i class="fa fa-line-chart fa-4x"></i> </div>
            <p> View user ratings, reviews and analytics to improve service </p>
          </div>

      </div>
  </div>
</div>
 -->



<!-- Chef section -->
<section class="chef flex">

  <div class="left">
    
    
    <h1>Our Chefs are the <br>best in the city</h1>
    
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa maiores fuga, voluptate provident iure doloribus quo eum quod quis, error nulla ducimus laborum, autem libero distinctio tempora animi doloremque eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt veritatis maiores a saepe accusamus totam, quos, laudantium neque, unde aliquid consequatur. Commodi consequuntur tenetur ipsa magni, recusandae eos! Laudantium, iure?</h3>
    
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ullam quidem culpa, amet reprehenderit suscipit voluptatem explicabo facere sequi qui sit, eveniet quod excepturi nostrum, quam, vero accusamus in? Dolores.</h3>

    
    

  </div>

  <div class="right flex">
      <img src="http://images.wisegeek.com/man-in-chef-uniform.jpg" alt="" />
    


  </div>

  


</section>



<footer>
    <div class="footer">
      <!-- footer content -->
      <div class="footerContent">
        <div class="footerColumn">
          <h3>Supporters</h3>
            <ul>
              <li><a href="http://microsoft.cpm/" target="_blank">Microsoft</a></li>
              <li><a href="http://ford.com" target="_blank">Ford Motors</a></li>
                            
              <li><a href="http://squarespace.com" target="_blank">Squarespace</a></li>

              <li><a href="http://Mozilla.com" target="_blank">Mozilla</a></li>

              <li><a href="http://JSConf.com" target="_blank">JSConf</a></li>
                            
          
            </ul>
          </div>
          
          <div class="footerColumn">
            <h3>Side Project</h3>
            <ul>
              <li><a href="http://www.rzakaria.com/w2" target="_blank">WeatherApp</a></li>

            </ul>
          </div>

          <div class="footerColumn">
            <h3>Elsewhere</h3>
            <ul id="socialIcons">
              <li><a href="https://www.facebook.com/rAAASIN" target="_blank" id="facebookIcon">Facebook</a></li>
                            
              <li><a href="https://twitter.com/rAAASIN" target="_blank" id="twitterIcon">Twitter</a></li>
                            
              <li><a href="https://instagram.com/rAAASIN/" target="_blank" id="instagramIcon">Instagram</a></li>
            </ul>
          </div>

      

        <div class="footerColumn">

          <div>
            <h3 class="studio">Studio</h3>
            <p class="studioAddress">200 Spadina Ave, #200<br> Toronto, ON, M5T 2C2</p>
          </div>
          <div>
            <h3 class="newsletter">Newsletter</h3>
        

            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signUp" target="_blank" novalidate="">
              <input type="email" value="" name="EMAIL" class="username clearfix required email emailInput" placeholder="" id="mce-EMAIL">
              <input class="emailSubmit" type="submit" value="Sign Up">
            </form>


          </div>
          
        </div>
      



      </div>
  
      <div class="footerSignature">

        
        <div class="footerColumn heart float2 footerHeart ">
          <img src="images/logo_bar.svg" alt="">
        </div>



        <div class="footerColumn footerLeftLogo">
          <img src="images/logo.svg" alt="">
        </div>
        
      </div>

    </div>

  </footer>





<style>


@font-face {
    font-family: 'Gotham';
        src: url('http://rzakaria.com/gothamOTF/Gotham-Light.otf');

      }


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
  font-family: gotham, sans-serif;
  font-weight: 100;
  color: #333;
}
.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
.columnFlex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.left,
.right {
  width: 50%;
  min-height: 100px;
}
img {
  max-width: 100%;
}
.chef {
  padding: 20px;
  max-height: 600px;
}
.left {
  background: #ccc;
  padding: 20px;
}
.left h1,
.left h3 {
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 24px;
}
.right {
  background: #eaeaea;
}




/*footer*/


.footer {
  background: whitesmoke;
}

.footer .footerContent a {
  color: #313131;
  transition: all 0.3s ease;
}

.footer .footerContent a:hover {
  /*color: #E5E5E5;*/
  opacity: .65;
  transition: color 0.3s ease;
}

.footer .footerContent {
  padding-top: 90px;
  padding-bottom: 60px;
}
.footer .footerContent {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
.footer .footerContent .footerColumn {
  width: 25%;
  color: #313131;
}
.footer .footerContent .footerColumn h3 {
  font-family: "Gotham", sans-serif;
  margin-top: 0;
  text-transform: uppercase;
  font-size: .95em;
  margin-bottom: 22%;
  letter-spacing: 0.01em;
  font-weight: 100;
  color: #888888;
}
.footer .footerContent .footerColumn input.emailInput {
  float: left;
  border-bottom: 3px solid #2f2f2f !important;
  width: 64%;
  border: 2px solid #2f2f2f;
  background-color: white;
  padding: 5px;
  color: #313131;
  font-family: "Gotham", sans-serif;
  font-weight: 100;
  font-size: .95em;
  text-transform: uppercase;
  border-radius: 3px 0px 0px 3px;
}
.footer .footerContent .footerColumn input.emailSubmit {
  width: 36%;
  background-color: #2f2f2f;
  border: 2px solid #2f2f2f;
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  font-size: .9em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  padding: 6px 5px 5px 1px;
  margin-left: -4px;
  border-radius: 0px 3px 3px 0px;
  transition: all 0.5s ease;
  letter-spacing: 2px;
}

.footer .footerContent .footerColumn input.emailSubmit:hover {
  background-color: #000000;
  border-color: #000000;
  transition: all 0.5s ease;
}

.footer .footerContent .footerColumn .studioAddress {
  font-family: "Gotham";
  font-weight: 300;
  font-size: .95em;
  line-height: 24px;
}
.footer .footerContent .footerColumn .newsletter {
  margin-bottom: 2%;
  margin-top: 30px;
}

.signUp {
    padding-top: 16px;
}

.footer .footerContent .footerColumn ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  font-family: "Gotham";
  font-weight: 300;
  font-size: .95em;
  line-height: 24px;
}
.footer .footerContent .footerColumn ul li {
  margin-bottom: 30px;
}
.footer .footerSignature {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}
.footer .footerSignature .footerColumn {
  width: 33.3%;
  margin: 0 auto;
}
.footer .footerSignature .footerLeftLogo {
  padding-top: 6px;
}
.footer .footerSignature .footerLeftLogo img {
  max-width: 80px;
}
.footer .footerSignature .footerHeart {
  text-align: center;
}
.footer .footerSignature .footerHeart img {
  max-width: 80px;
  cursor: pointer;
}
.footer .footerSignature .footerCopyright {
  text-align: right;
  font-family: "Lora";
  font-weight: lighter;
  font-size: 1.25em;
}




</style>

