<h2>New Menu Listing</h2>
<div class="new-menu">
    <p><input type="text" ng-model="menuName" placeholder="Menu Name" /></p>
    <p><input type="text" ng-model="menuPrice" placeholder="Menu Price" /></p>
    <p><input type="text" ng-model="menuDescription" placeholder="Menu Description" /></p>

    <p class="add-item">Items <a href="#" ng-click="addItem()"><i class="fa fa-plus-circle"></i></a></p>
    <fieldset ng-repeat="item in items" class="newMenuItem">
        <div>
        <p class="item-heading">
            {{"Item # " + ($index + 1)}} {{item.itemName ? "- " + item.itemName : ""}}
            <button class="btn btn-default remove" ng-hide="$first" ng-click="removeItem($index)">
                <span class="glyphicon glyphicon-remove-sign"></span>
            </button>
        </p>
        <p><input type="text" ng-model="item.itemName" placeholder="Item Name" /></p>
        <p><input type="number" ng-model="item.servings" placeholder="Item Servings" /></p>
        <textarea rows="3" cols="40" ng-model="item.itemDescription" placeholder="Item Description" /></textarea>
        </div>
    </fieldset>
    <br />

    <div class="upload-imgs">
        <div class="row">

            <div class="col-lg-12">
                <p class="add-item">Images</p>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="menuPhoto in menu.menuPhotos" >
                <div class="pull-right">
                    <button class="btn btn-default btn-remove" ng-click="removeImage(menuPhoto)"> ✕ </button>
                </div>
                <a class="thumbnail" ng-href="{{menuPhoto.url()}}" target="_blank">
                    <img class="img-responsive" ng-src="{{menuPhoto.url()}}">
                </a>
            </div>
        </div>
        <input type="file" id="menuPhotos" ng-model="fileUpload" file-input-on-change="addImage" multiple />
        <br />
        <p>
            <button class="fb-btn" ng-click="addMenu()">add menu</button>
        </p>
    </div>
</div>
