<div class="new-menu">
  <h2>Edit '{{menu.displayName}}' Menu Listing</h2>
  <div>
        <p><label>Menu Name </label><input type="text" ng-model="menu.menuName" /></p>
        <p><label>Menu Price </label><input type="text" ng-model="menu.price" /></p>
        <p><label>Menu Description </label><input type="text" ng-model="menu.description" placeholder="Menu Description" /></p>
      <p class="add-item">Items <a href="#" ng-click="addItem()"><i class="fa fa-plus-circle"></i></a></p>
      <fieldset ng-repeat="item in items" class="newMenuItem">
          <div class="item">
            <p class="item-heading">
                {{"Item # " + ($index + 1)}} {{item.itemName ? "- " + item.itemName : ""}}
                <button class="btn btn-default remove" ng-hide="$first" ng-click="removeItem($index)">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </p>
            <hr/>
            <p><label>Item Name </label><input type="text" ng-model="item.itemName" placeholder="Item Name" /></p>
            <p><label>Item Servings </label><input type="number" ng-model="item.servings" placeholder="Item Servings" /></p>
            <p><label>Item Description</label><textarea rows="3" cols="40" ng-model="item.itemDescription" placeholder="Item Description" /></textarea></p>
          </div>
      </fieldset>
      <br />
      <div class="upload-imgs">
          <div class="row">

              <div class="col-lg-12">
                  <p class="add-item">Images</p>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="menuPhoto in menu.menuPhotos" >
                  <a class="thumbnail" href="#">
                    <div class="pull-right">
                        <button class="btn btn-default btn-remove" ng-click="removeImage(menuPhoto)"> ✕ </button>
                    </div>
                      <img class="img-responsive" ng-src="{{menuPhoto.url()}}">
                  </a>
              </div>
          </div>
          <input type="file" id="menuPhotos" ng-model="fileUpload" file-input-on-change="addImage" multiple />
          <br />
          <p>
              <button class="fb-btn" ng-click="updateMenu(menu)">update menu</button>
          </p>
      </div>
  </div>
</div>
