<div class="menu">
    <div class="col-md-3">
        <h2>Menus</h2>
        <a class="add-menu" ui-sref="site.menus.list.add"><i class="fa fa-plus-circle"></i>add menu</a>
        <ul>
            <li ng-class="{'active-menu': isSelectedMenu(menu.id)}" ng-repeat="menu in menus">
                <a class="menu-link" ng-class="{'active-menu': isSelectedMenu(menu.id)}" ui-sref="site.menus.list.detail({id:menu.id})">{{menu.displayName}}</a>
            </li>
        </ul>
        <br />
    </div>
    <div class="col-md-9">
        <div ui-view></div>
    </div>
</div>
