<div class="menu">
  <div class="row">
      <div class="col-md-3">
          <h2>Messages</h2>
          <ul>
              <li ng-repeat="customer in customers" ui-sref-active="active-menu">
                  <a class="customer-name" ui-sref="site.messages.list.detail({customer:customer})">{{customer}}</a>
              </li>
          </ul>
      </div>
      <div class="col-md-9">
          <h1 class="no-messages" ng-show="!customers.length"> You don't have any messages </h1>
          <div ui-view></div>
      </div>
  </div>
</div>
