<div class="reviews">
    <h2>Orders</h2>
    <ul class="container">
        <li ng-repeat="order in orders">
            <div class="panel" ng-class="{'panel-info': $odd, 'panel-success': $even}">
                <div class="panel-heading">
                  <span class="panel-title">
                      {{order.customer}} @
                      {{order.createdAt | date:'MM/dd/yyyy'}}
                  </span>
                  <div class="fulfilled pull-right">
                      <span ng-show="order.fulfilled"> Fulfilled </span>
                      <i ng-class="{'unfulfilled-check': !order.fulfilled}" ng-click="fulfill(order)" class="fa fa-check"></i>
                  </div>
                </div>
                <div class="panel-body">
                    <p> <strong>menu:</strong> {{order.menuName}} </p>
                    <p> <strong>quantity:</strong> {{order.quantity}} </p>
                    <p> <strong>total cost:</strong> ${{order.cost}} </p>
                    <p> <strong>extra info:</strong> {{order.details}} </p>
                </div>
            </div>
       </li>
       <h1 class="no-orders" ng-show="!orders.length"> You don't have any orders </h1>
    </ul>
</div>
