<div>
    <h2>Profile</h2>
    <div>
        <p>Full Name: <input type="text" ng-model="firstlastname" placeholder="Name" /></p>
        <p>Address: <input type="text" ng-model="address" placeholder="Address" /></p>
        <p>Phone Number: <input type="text" ng-model="phone" placeholder="Phone Number" /></p>
        <p>Email Address: <input type="text" ng-model="email" placeholder="Email Address" /></p>
        <!-- <p><input type="password" ng-model="password" placeholder="Password" /></p> -->
        <button ng-click="updateProfile()">Update</button>
    </div>
</div>