<div class="reviews">
    <h2>Profile</h2>
    <div>
        <p><label>Full Name:</label><input type="text" ng-model="firstlastname" placeholder="Name" /></p>
        <p><label>Address:</label><input type="text" ng-model="address" placeholder="Address" /></p>
        <p><label>Phone Number:</label><input type="text" ng-model="phone" placeholder="Phone Number" /></p>
        <p><label>Email Address:</label><input type="text" ng-model="email" placeholder="Email Address" /></p>
        <!-- <p><input type="password" ng-model="password" placeholder="Password" /></p> -->
        <button class="fb-btn" ng-click="updateProfile()">Update</button>
    </div>
</div>
