<div>
    <h2>Register</h2>
    <div>
        Search: <input type="text" ng-model="name" />
        <ul>
          <li ng-repeat="cust in customers | filter:name | orderBy: 'city' ">
            {{ cust.name }} - {{ cust.city }}
          </li>
        </ul>
    </div>
    <div>
        <p><input type="text" ng-model="newName" placeholder="Name" /></p>
        <p><input type="text" ng-model="newCity" placeholder="City" /></p>
        <button ng-click="register()">Register</button>
    </div>
</div>