html {
    height: 100%;
}

body {
    background: white;
    height: 100%;
}

label{
    display:inline-block;
    width: 150px;
}

/* new styles */
.intro {
  padding-top: 30px;
  padding-left: 30px;
  color: black;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.intro a {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.intro ul > li {
    list-style-type: none;
    display:inline;
    padding-right: 30px;
}

.intro ul > li a {
    font-size: 1em;
    letter-spacing: 2px;
    color: black;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.intro ul> li a:hover {
    color: @teal-light;
}

.intro ul> li .active {
    color: @teal-light;
}

.fb-logo {
    padding-bottom: 20px;
}

/* end new styles */

/* General */

.glyphicon.red {
    color: #EA2828;
}

.main.container {
    background: white;
    min-height: 100%;
}

.header {
    padding-top: 13px;
}

.profile-bar {
    text-align: right;
}
.profile-bar a:hover {
    text-decoration: underline;
}
/*.logo-bar {
    text-align: center;
}

.logo {
    height: 120px;
    margin: 0px auto 10px;
    width: auto;
}*/

.welcome {
    padding-left: 0px;
    padding-right: 0px;
    height: 500px;
    background: black;
    overflow: hidden;
    position: relative;
}

.welcome img {
    position: absolute;
    opacity: .8;
    max-width: 100%;
    transform: translateY(-25%);
}

.welcome h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    font-size: 3em;
}

.welcome p {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 53%;
    transform: translateY(-50%);
    font-size: 1.8em;
}

.intro {
    font-size: 17px;
    text-align: center;
}

.how-to {
    margin-top: 30px;
    margin-bottom: 70px;
}

.how-to h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
}

.how-to p {
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.how-to i {
    font-size: 4em;
}

.icon-wrapper {
    text-align: center;
    padding-bottom: 30px;
}

.features-wrapper {
    background-color: black;
    width: 100%;
}

.features {
    color: #35D7BB;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
}

.features h2 {
    /*color: #3498db;*/
    color: white;
    font-size: 2.2em;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 50px;
}
